.checkout-container {
  margin: auto;
  width: 80%;
}

.custom-row {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
  /* display: block; */
  text-align: left;
}

.checkout-summary {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.custom-row span {
  /* margin: 2px 15px; */
}

.cart-number {
  display: flex;
  justify-content: space-between;
  
  span {
    align-self: center;
  }
}

.custom-row-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-row-form:first-child {
  padding-top: 100px;
}