.navbar {
  position: sticky;
  justify-content: space-between;
  padding: 10px 30px;
  cursor: pointer;
  top: 0;
  display: flex;
  z-index: 3;
  background: white;
  position: -webkit-sticky;
  width: 100%;
}

.cart {
  align-self: center;
}

.navbar .menu-toggle {
  display: none;
}
.navbar .menu-toggle::before {
  content:"\f0c9";
  font: var(--fa-font-solid);
}

.navbar-ul {
  list-style-type: none;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 3;
  align-self: center;
}

.navbar-ul li {
  padding: 10px;
  float: left;
}

.nav-btn {
  margin: 8px;
  background-color: rgb(255 101 101);
  font-family: inherit;
  border: 0px;
  font-size: 14px;
  height: 70%;
  padding: 8px 10px;
  cursor: pointer;
}

/* mobile devices */
@media screen and (max-width: 510px) {
  .cart{
    margin-left: 0 !important;
  }
}
/* tablet */
@media screen and (max-width: 768px) {
  .navbar .menu-toggle {
    background: #f0e5eb;
    z-index: 4;
    width: 40px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
  }
  .navbar-ul {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    left: -100%;
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  .navbar-ul.active {
    left: 0;
  }
  .navbar .menu-toggle.active::before {
    content:'\f00d';
  }
  .navbar-ul li {
    float: none;
    width: 100vw;
    margin-top: 20px;
  }
  .cart{
    margin-left: 250px;
  }
  .logo {
    width: 90px;
  }
}